<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/jquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup/code/bootstrap.js"></script>
    <script src="js/angular.min.js" ></script>
    <script src="js/controllers.js"></script>
    <script src="js/google-analytics.js"></script>
    <script src="https://coinbase.com/assets/button.js"></script>
    <script src="js/coinbase-post-payment.js"></script>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css">
    <link rel="stylesheet" href="css/bitstarter-styles.css">
  </head>
  <body>

   <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
              <h1>PokerTix</h1>
        </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-center">
          
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6">
             <video src="video.mp4" width="500" height="340" controls preload></video>
          </div>
          <div class="col-md-6 order">
              <h2>If you would enjoy this app</h2><p>dontate with the button below</p>

             <a class="coinbase-button" 
                 data-button-style="custom_large" 
                 data-button-text="Preorder with Bitcoin" 
                 data-custom="Finished order"
                 data-code="<%= coinbase_preorder_data_code %>" 
                 href="https://coinbase.com/checkouts/<%= coinbase_preorder_data_code %>">Preorder with Bitcoin</a>
          </div>
        </div>
    </div>
    <div class="container" id="tournaments">
      <div class="col-md-12">
        <h1>Up coming Tournaments</h1>
        <a href=""><img src="http://www.onlinepokerdeutschland.com/wp-content/uploads/2011/05/wpt_logo3.gif"></a>
        <a href=""><img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTfoh8Sz2pcBIlz1Az410lcz0jSdSv8kOznVD7_d_xGaXUsuSTkiDcfSM-f"></a>
         <a href=""><img src="http://sportscracklepop.com/wp-content/uploads/2013/08/EPT00.jpg"></a>
      </div>

    </div>
      <!-- For the FAQ, we introduce a little bit of JS, using the accordion. -->
      <!-- This brings in jquery.js and bootstrap.js as dependencies. -->
      <!-- http://twitter.github.io/bootstrap/javascript.html#collapse -->
    
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42843113-1', 'bitstart.net');
  ga('send', 'pageview');
</script>
  </body>
</html>
