/* Statically serve fonts directly to avoid this error in the Chrome console:
     Resource interpreted as Font but transferred with MIME type font/woff: 
     "https://themes.googleusercontent.com/static/fonts/ubuntu/v4/0ihfXUL2emPh0ROJezvraLO3LdcAZYWl9Si6vvxL-qU.woff".
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/opensans-300.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(../fonts/ubuntu-300.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-700.woff) format('woff');
}

/* Large desktop */
@media (min-width: 980px) { 
  body {
  
  }
 .linediv-l {
   border-right: 1px white solid;
  }
 .linediv-r {
   border-left: 1px white solid;
 }
}

/* Landscape phones and down */
@media (max-width: 480px) { 
 .copy {
   padding: 2.5% 10%;
 }
 .linediv-l {
   border-bottom: 1px white solid;
 }
 .linediv-r {
   border-top: 1px white solid;
 }
}

/* All form factors */

/* Main body and headings */
/* 
  Use slightly lighter body font (Open Sans 300 rather than 400): 
  https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight 

  Also use slightly lighter subheading (Ubuntu 300 vs. 400)
*/
body h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #16a085
}
body p{
    font-family: 'PT Mono', sans-serif;
    text-transform: uppercase;
}

.navbar {
background-color:#16a085;
height: 110px;
-moz-box-shadow: 0px 0px 3px 0px #acacac;
-webkit-box-shadow: 0px 0px 3px 0px #acacac;
box-shadow: 0px 0px 3px 0px #acacac;



}
.navbar-header h1 {
font-size: 30px;
margin-top: 25%;
color: #fff;
font-family: 'Swatch it';

}

.navbar-collapse ul{
  padding-top: 2.5%;
}

.navbar-collapse li a {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
color:#cacccf;
font-size: .9em;
text-decoration: none;

}

.navbar-collapse li a:hover {
  color: #222;
  text-decoration: none;
  border-bottom: 2px solid  #27ae60;
  
}

#motto{
    background-image: url();
}
#tourn{
    background-image: url(http://pnimg.net/w/reporting-desktop/0/523/042f86a5b0.png);
}
#tourn h3{
    margin-top: 2%;
}
#tournaments{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#tournaments h1{
    margin-top: 10%;



}
#tournaments img{
    margin-top: 2%;
    width: 300px;
    height: 80px;
}
.order h2{
    line-height: 50px;

}

/* Marketing Copy and Footer */
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}
.asset {
  padding: 2.5% 0%;
}
.footer {
  color: #cccccc;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}

/* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
div.addthis_toolbox {
width: 174px;
margin: 0 auto;
}